html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-family: 'Libre Baskerville', serif;
  margin: 0;
  font-size: 2rem;
  background-color: rgb(0, 0, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23f1b465' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E");
}

nav {
  background-color: rgb(247,247,247);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;

}

.btn-outline-secondary {
  background-color: white;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 20%;
  background-color: rgba(247, 247, 247, 0.76);
  padding: 15px;
  border: rgb(247,247,247) solid 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: relative; bottom: 25%; */
  width: 100vw;
  /* height: 80%; */
}
.card {
  border: #8d8983 solid 5px;
  border-radius: 25px;
  margin: 10px;

}

  .card-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  
}

.card-subtitle {
  font-size: 1.3rem;
  color: rgb(99,99,99);
  margin-top: 5px;
}

.card-text {
  font-size: 1.3rem;
  color: rgb(99,99,99);
}

.card-footer {
  display: flex;
  justify-content: space-around;
}

.edit {
  position: relative; right: 55%;
  background-color: rgb(88, 88, 88);
}

.delete-recipe {
  background-color: rgb(88, 88, 88);
}

.recipe-content-card {
 
  background-color:rgb(247,247,247) ;
  padding: 10px;
  border: #8d8983 solid 5px;
  border-radius: 25px;
  margin: 10px;
}

span {
  font-weight: bold;
  text-decoration: underline;
}
