<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

  <main>
    <h1><%= title %></h1>
    <form id="new-form" action="/recipes" method="POST">
      <label for="name-input">Title:</label>
      <input type="text" name="name" id="name-input">
      <br>
      <label for="prep-input">Time to Prep:</label>
      <input type="text" name="prep" id="prep-input">
      <br>
      <label for="cook-input">Time to Cook:</label>
      <input type="text" name="cook" id="cook-input">
      <br>
      <label for="servings-input">Servings:</label>
      <input type="text" name="servings" id="servings-input">
      <br>
      <label for="ingredients-input">Ingredients:</label>
      <input type="text" name="ingredients" placeholder="seperate items by comma" id="ingredients-input">
      <br>
      <label for="description-input">Description:</label>
      <input type="text" name="description" id="description-input">
      <br>
      <button type="submit">Add Recipe</button>
    </form>
  </main>

  <%- include('../partials/footer') %>